{% extends 'lexonews/base.html' %}

{% block content %}
    <div class="post">
	{% if article.published_date %}
	    <div class="date">
	        {{ article.published_date }}
	    </div>
	{% else %}
	    <a class="btn btn-default" href="{% url 'publish_article' pk=article.pk %}">Gefa út</a>
	{% endif %}
	<h2>
            <a href="{% url 'single_article' pk=article.pk %}">{{ article.headline }}</a>
	    {% if user.is_authenticated %}
	        <a class="btn btn_default" href="{% url 'edit_article' pk=article.pk %}">Breyta</a>
	    {% endif %}
        </h2>
        <p>{{ article.text|linebreaksbr }}</p>
    </div>
{% endblock %}
