h1 a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 39px;
    color: #FCA205;
}

h2 a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 33px;
    color: #FCA205;
}

h2 span.pub_date {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
}

body {
    padding-left: 15px;
}

body p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
}
